body{
	background: aliceblue;
	font-family: sans-serif;
}
#all{
	width: 80%;
	margin: 0px auto;
	border: 1px solid transparent;
}
header{
	background: lightseagreen;
	height: 127px;
	width: 100%;
	margin: 0px;
	text-align: center;
	line-height: 50px;
	color: white;
}
nav{
	background: powderblue;
	height: 40px;
	text-align: center;
}

nav ul li{
	float: left;
	list-style: none;
	margin: 10px;
	line-height: 30px;
}

.clearfix{
	clear: both;
}
#contenido{
	margin: auto;
	width: calc(80% - 42px);
	min-height: 3100px;
	background: white;
	padding: 20px;
	border: 1px solid skyblue;
}
aside{
	float: left;
	min-height: 2147px;
	background: powderblue;
	width: calc(20% - 30px);
	padding: 15px;
	color: darkslategray;
}
footer{
	background: powderblue;
	color: white;
	text-align: center;
	height: auto;
	line-height: auto;
}
.article{
	color: inherit;
	border-bottom: 1px solid skyblue;
	border-top: 1px solid skyblue;
}
.article h2{
	color: darkslategray;
}
.article h3{
	color: teal;
}

.article h4{
	color: darkslategray;
}

body ul{
	color: rgb(7, 105, 105);
	font-size: 23px;
}
body ol{
	color: black;
}

video{

	height: 300px;
}